/*
## Spacing (px) (base)
*/
:root {
  --de100-spacing-0: 0;
  --de100-spacing-0-25: 1px;
  --de100-spacing-0-50: 2px;
  --de100-spacing-0-75: 3px;
  --de100-spacing-1: 4px;
  --de100-spacing-1-25: 5px;
  --de100-spacing-1-50: 6px;
  --de100-spacing-1-75: 7px;
  --de100-spacing-2: 8px;
  --de100-spacing-2-25: 9px;
  --de100-spacing-2-50: 10px;
  --de100-spacing-2-75: 11px;
  --de100-spacing-3: 12px;
  --de100-spacing-3-25: 13px;
  --de100-spacing-3-50: 14px;
  --de100-spacing-3-75: 15px;
  --de100-spacing-4: 16px;
  --de100-spacing-4-25: 17px;
  --de100-spacing-4-50: 18px;
  --de100-spacing-4-75: 19px;
  --de100-spacing-5: 20px;
  --de100-spacing-5-25: 21px;
  --de100-spacing-5-50: 22px;
  --de100-spacing-5-75: 23px;
  --de100-spacing-6: 24px;
  --de100-spacing-7: 28px;
  --de100-spacing-8: 32px;
  --de100-spacing-9: 36px;
  --de100-spacing-10: 40px;
  --de100-spacing-11: 44px;
  --de100-spacing-12: 48px;
  --de100-spacing-13: 52px;
  --de100-spacing-14: 56px;
  --de100-spacing-15: 60px;
  --de100-spacing-16: 64px;
  --de100-spacing-17: 68px;
  --de100-spacing-18: 72px;
  --de100-spacing-19: 76px;
  --de100-spacing-20: 80px;
  --de100-spacing-21: 84px;
  --de100-spacing-22: 88px;
  --de100-spacing-23: 92px;
  --de100-spacing-24: 96px;
  --de100-spacing-25: 100px;
  --de100-spacing-26: 104px;
  --de100-spacing-27: 108px;
  --de100-spacing-28: 112px;
  --de100-spacing-29: 116px;
  --de100-spacing-30: 120px;
  --de100-spacing-31: 124px;
  --de100-spacing-32: 128px;
}

@theme {
  --spacing-*: initial;
  --spacing-0: var(--de100-spacing-0);
  --spacing-0-25: var(--de100-spacing-0-25);
  --spacing-0-50: var(--de100-spacing-0-50);
  --spacing-0-75: var(--de100-spacing-0-75);
  --spacing-1: var(--de100-spacing-1);
  --spacing-1-25: var(--de100-spacing-1-25);
  --spacing-1-50: var(--de100-spacing-1-50);
  --spacing-1-75: var(--de100-spacing-1-75);
  --spacing-2: var(--de100-spacing-2);
  --spacing-2-25: var(--de100-spacing-2-25);
  --spacing-2-50: var(--de100-spacing-2-50);
  --spacing-2-75: var(--de100-spacing-2-75);
  --spacing-3: var(--de100-spacing-3);
  --spacing-3-25: var(--de100-spacing-3-25);
  --spacing-3-50: var(--de100-spacing-3-50);
  --spacing-3-75: var(--de100-spacing-3-75);
  --spacing-4: var(--de100-spacing-4);
  --spacing-4-25: var(--de100-spacing-4-25);
  --spacing-4-50: var(--de100-spacing-4-50);
  --spacing-4-75: var(--de100-spacing-4-75);
  --spacing-5: var(--de100-spacing-5);
  --spacing-5-25: var(--de100-spacing-5-25);
  --spacing-5-50: var(--de100-spacing-5-50);
  --spacing-5-75: var(--de100-spacing-5-75);
  --spacing-6: var(--de100-spacing-6);
  --spacing-7: var(--de100-spacing-7);
  --spacing-8: var(--de100-spacing-8);
  --spacing-9: var(--de100-spacing-9);
  --spacing-10: var(--de100-spacing-10);
  --spacing-11: var(--de100-spacing-11);
  --spacing-12: var(--de100-spacing-12);
  --spacing-13: var(--de100-spacing-13);
  --spacing-14: var(--de100-spacing-14);
  --spacing-15: var(--de100-spacing-15);
  --spacing-16: var(--de100-spacing-16);
  --spacing-17: var(--de100-spacing-17);
  --spacing-18: var(--de100-spacing-18);
  --spacing-19: var(--de100-spacing-19);
  --spacing-20: var(--de100-spacing-20);
  --spacing-21: var(--de100-spacing-21);
  --spacing-22: var(--de100-spacing-22);
  --spacing-23: var(--de100-spacing-23);
  --spacing-24: var(--de100-spacing-24);
  --spacing-25: var(--de100-spacing-25);
  --spacing-26: var(--de100-spacing-26);
  --spacing-27: var(--de100-spacing-27);
  --spacing-28: var(--de100-spacing-28);
  --spacing-29: var(--de100-spacing-29);
  --spacing-30: var(--de100-spacing-30);
  --spacing-31: var(--de100-spacing-31);
  --spacing-32: var(--de100-spacing-32);
}
