/* 
## Shadows

Will be used to handle:

- `text-shadow`: on the s `color | offset-x | offset-y | blur-radius`
- `filter: drop-shadow( ... )`: on the format `drop-shadow( <color> <offset-x> <offset-y> <blur-radius/standard-deviation> )`
- `box-shadow`: on the format `<inset> | <offset-x> | <offset-y> | <blur-radius> | <spread> | <color>`
*/

:root {
  --de100-shadow-type-inset: inset;
  --de100-shadow-type-outset:  ;
}

:root {
  --de100-box-shadow-bg-1: rgb(0 0 0 / 0.05);
  --de100-box-shadow-bg-2: rgb(0 0 0 / 0.1);

  @variant dark {
    --de100-box-shadow-bg-1: rgb(255 255 255 / 0.05);
    --de100-box-shadow-bg-2: rgb(255 255 255 / 0.1);
  }
}

/* 
### Shadow Offsets _(Offset X)_

Uses the base spacing vars, from 0 to 7.
*/
:root {
  --de100-shadow-x-0: var(--de100-spacing-0);
  --de100-shadow-x-0-25: var(--de100-spacing-0-25);
  --de100-shadow-x-0-50: var(--de100-spacing-0-50);
  --de100-shadow-x-0-75: var(--de100-spacing-0-75);
  --de100-shadow-x-1: var(--de100-spacing-1);
  --de100-shadow-x-1-25: var(--de100-spacing-1-25);
  --de100-shadow-x-1-50: var(--de100-spacing-1-50);
  --de100-shadow-x-1-75: var(--de100-spacing-1-75);
  --de100-shadow-x-2: var(--de100-spacing-2);
  --de100-shadow-x-2-25: var(--de100-spacing-2-25);
  --de100-shadow-x-2-50: var(--de100-spacing-2-50);
  --de100-shadow-x-2-75: var(--de100-spacing-2-75);
  --de100-shadow-x-3: var(--de100-spacing-3);
  --de100-shadow-x-3-25: var(--de100-spacing-3-25);
  --de100-shadow-x-3-50: var(--de100-spacing-3-50);
  --de100-shadow-x-3-75: var(--de100-spacing-3-75);
  --de100-shadow-x-4: var(--de100-spacing-4);
  --de100-shadow-x-4-25: var(--de100-spacing-4-25);
  --de100-shadow-x-4-50: var(--de100-spacing-4-50);
  --de100-shadow-x-4-75: var(--de100-spacing-4-75);
  --de100-shadow-x-5: var(--de100-spacing-5);
  --de100-shadow-x-5-25: var(--de100-spacing-5-25);
  --de100-shadow-x-5-50: var(--de100-spacing-5-50);
  --de100-shadow-x-5-75: var(--de100-spacing-5-75);
  --de100-shadow-x-6: var(--de100-spacing-6);
  --de100-shadow-x-6-25: var(--de100-spacing-6-25);
  --de100-shadow-x-6-50: var(--de100-spacing-6-50);
  --de100-shadow-x-6-75: var(--de100-spacing-6-75);
  --de100-shadow-x-7: var(--de100-spacing-7);
}

/* 
### Shadow Offsets _(Offset Y)_

Uses the base spacing vars, from 0 to 7.
*/
:root {
  --de100-shadow-y-0: var(--de100-spacing-0);
  --de100-shadow-y-25: var(--de100-spacing-0-25);
  --de100-shadow-y-50: var(--de100-spacing-0-50);
  --de100-shadow-y-75: var(--de100-spacing-0-75);
  --de100-shadow-y-1: var(--de100-spacing-1);
  --de100-shadow-y-1-25: var(--de100-spacing-1-25);
  --de100-shadow-y-1-50: var(--de100-spacing-1-50);
  --de100-shadow-y-1-75: var(--de100-spacing-1-75);
  --de100-shadow-y-2: var(--de100-spacing-2);
  --de100-shadow-y-2-25: var(--de100-spacing-2-25);
  --de100-shadow-y-2-50: var(--de100-spacing-2-50);
  --de100-shadow-y-2-75: var(--de100-spacing-2-75);
  --de100-shadow-y-3: var(--de100-spacing-3);
  --de100-shadow-y-3-25: var(--de100-spacing-3-25);
  --de100-shadow-y-3-50: var(--de100-spacing-3-50);
  --de100-shadow-y-3-75: var(--de100-spacing-3-75);
  --de100-shadow-y-4: var(--de100-spacing-4);
  --de100-shadow-y-4-25: var(--de100-spacing-4-25);
  --de100-shadow-y-4-50: var(--de100-spacing-4-50);
  --de100-shadow-y-4-75: var(--de100-spacing-4-75);
  --de100-shadow-y-5: var(--de100-spacing-5);
  --de100-shadow-y-5-25: var(--de100-spacing-5-25);
  --de100-shadow-y-5-50: var(--de100-spacing-5-50);
  --de100-shadow-y-5-75: var(--de100-spacing-5-75);
  --de100-shadow-y-6: var(--de100-spacing-6);
  --de100-shadow-y-6-25: var(--de100-spacing-6-25);
  --de100-shadow-y-6-50: var(--de100-spacing-6-50);
  --de100-shadow-y-6-75: var(--de100-spacing-6-75);
  --de100-shadow-y-7: var(--de100-spacing-7);
}

/* 
### Shadow Blur Radius _(Offset X)_

Uses the base spacing vars, from 0 to 7.
*/
:root {
  --de100-shadow-blur-0: var(--de100-spacing-0);
  --de100-shadow-blur-0-25: var(--de100-spacing-0-25);
  --de100-shadow-blur-0-50: var(--de100-spacing-0-50);
  --de100-shadow-blur-0-75: var(--de100-spacing-0-75);
  --de100-shadow-blur-1: var(--de100-spacing-1);
  --de100-shadow-blur-1-25: var(--de100-spacing-1-25);
  --de100-shadow-blur-1-50: var(--de100-spacing-1-50);
  --de100-shadow-blur-1-75: var(--de100-spacing-1-75);
  --de100-shadow-blur-2: var(--de100-spacing-2);
  --de100-shadow-blur-2-25: var(--de100-spacing-2-25);
  --de100-shadow-blur-2-50: var(--de100-spacing-2-50);
  --de100-shadow-blur-2-75: var(--de100-spacing-2-75);
  --de100-shadow-blur-3: var(--de100-spacing-3);
  --de100-shadow-blur-3-25: var(--de100-spacing-3-25);
  --de100-shadow-blur-3-50: var(--de100-spacing-3-50);
  --de100-shadow-blur-3-75: var(--de100-spacing-3-75);
  --de100-shadow-blur-4: var(--de100-spacing-4);
  --de100-shadow-blur-4-25: var(--de100-spacing-4-25);
  --de100-shadow-blur-4-50: var(--de100-spacing-4-50);
  --de100-shadow-blur-4-75: var(--de100-spacing-4-75);
  --de100-shadow-blur-5: var(--de100-spacing-5);
  --de100-shadow-blur-5-25: var(--de100-spacing-5-25);
  --de100-shadow-blur-5-50: var(--de100-spacing-5-50);
  --de100-shadow-blur-5-75: var(--de100-spacing-5-75);
  --de100-shadow-blur-6: var(--de100-spacing-6);
  --de100-shadow-blur-6-25: var(--de100-spacing-6-25);
  --de100-shadow-blur-6-50: var(--de100-spacing-6-50);
  --de100-shadow-blur-6-75: var(--de100-spacing-6-75);
  --de100-shadow-blur-7: var(--de100-spacing-7);
}

/* 
### Shadow Spread _(Offset X)_

Uses the base spacing vars, from 0 to 7.
*/
:root {
  --de100-shadow-spread-0: var(--de100-spacing-0);
  --de100-shadow-spread-0-25: var(--de100-spacing-0-25);
  --de100-shadow-spread-0-50: var(--de100-spacing-0-50);
  --de100-shadow-spread-0-75: var(--de100-spacing-0-75);
  --de100-shadow-spread-1: var(--de100-spacing-1);
  --de100-shadow-spread-1-25: var(--de100-spacing-1-25);
  --de100-shadow-spread-1-50: var(--de100-spacing-1-50);
  --de100-shadow-spread-1-75: var(--de100-spacing-1-75);
  --de100-shadow-spread-2: var(--de100-spacing-2);
  --de100-shadow-spread-2-25: var(--de100-spacing-2-25);
  --de100-shadow-spread-2-50: var(--de100-spacing-2-50);
  --de100-shadow-spread-2-75: var(--de100-spacing-2-75);
  --de100-shadow-spread-3: var(--de100-spacing-3);
  --de100-shadow-spread-3-25: var(--de100-spacing-3-25);
  --de100-shadow-spread-3-50: var(--de100-spacing-3-50);
  --de100-shadow-spread-3-75: var(--de100-spacing-3-75);
  --de100-shadow-spread-4: var(--de100-spacing-4);
  --de100-shadow-spread-4-25: var(--de100-spacing-4-25);
  --de100-shadow-spread-4-50: var(--de100-spacing-4-50);
  --de100-shadow-spread-4-75: var(--de100-spacing-4-75);
  --de100-shadow-spread-5: var(--de100-spacing-5);
  --de100-shadow-spread-5-25: var(--de100-spacing-5-25);
  --de100-shadow-spread-5-50: var(--de100-spacing-5-50);
  --de100-shadow-spread-5-75: var(--de100-spacing-5-75);
  --de100-shadow-spread-6: var(--de100-spacing-6);
  --de100-shadow-spread-6-25: var(--de100-spacing-6-25);
  --de100-shadow-spread-6-50: var(--de100-spacing-6-50);
  --de100-shadow-spread-6-75: var(--de100-spacing-6-75);
  --de100-shadow-spread-7: var(--de100-spacing-7);
}
